.side-bar {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 100vh;
  position: fixed;
  background-color: #93a1a1;
  padding-left: 12px;
}

.schema {
  display: flex;
}

.schema__names {
  display: flex;
  flex-direction: column;
}
.schema__types {
  display: flex;
  flex-direction: column;
}
