::file-selector-button {
  display: none;
}

.file-input {
  border-radius: .7rem;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #04a7a7;
  width: 90%;
  font-size: 0.9rem;
  color: #eee8d5;
  font-weight: 700;
  cursor: pointer;
}
