.side-bar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e7eff5;
  width: 10rem;
  height: 100vh;
  position: fixed;
  background-color: #212b42;
  padding-left: 12px;
  flex: 2 2 auto;
}

.has-header {
  display: flex;
}

.sidebar__text {
  color: #e7eff5;
  font-size: .9em;
  font-weight: 700;
  margin-left: .8em;
}

.has-header__text {
  margin-bottom: 1em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1.5em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  border-radius: 1.5em;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 1.1em;
  width: 1.1em;
  left: .2em;
  bottom: .2em;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #8f78e7;
}

input:checked + .slider:before {
  transform: translateX(1.5em);
}

.command-input__button {
  position: absolute;
  left: 0;
}
