.frame {
  width: 80vw;
  padding-left: 12rem;
}

.frame__table {
  display: flex;
}

.frame__column {
  display: flex;
  flex-direction: column;
  width: 8rem;
  min-height: 200px;
  min-width: 0;
}

.frame__column:hover {
  box-shadow: 0 0 10px rgba(33, 33, 33, 2);
}

.frame__header {
  font-size: 0.9rem;
  border: solid 1px;
  font-weight: 700;
  background-color: #201f3e;
  width: 100%;
  height: 20px;
}

.header-left {
  border-radius: 10px 0px 0px 0px;
}

.header-right {
  border-radius: 0px 10px 0px 0px;
}

.frame__cell {
  display: flex;
  border: solid 1px;
  border-color: #ffffff;
  width: calc(100%);
  height: 10px;
  min-height: 20px;
  background-color: #212b42;
  align-items: center;
  justify-content: center;
}

.cell__text {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.85);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.frame__spinner {
  height: 2rem;
  width: 2rem;
  background-color: #2aa198;
  animation: 3s infinite translate;
}

@keyframes translate {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translate(100%) rotate(45deg);
  }
}

.frame__motions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.motion {
  font-weight: bold;
  color: #fc81a5;
  cursor: pointer;
}

.top-bar {
  display: flex;
  margin-bottom: 12px;
}

.top-bar__item {
  background-color: #04a7a7;
  font-weight: 700;
  font-size: 0.9rem;
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  border-right-style: solid;
  border-right-width: 10px;
  padding-left: 5px;
  border-color: #04a7a7;
}

.context-menu {
  margin: 0;
  padding-left: 0px;
  list-style-type: none;
  background-color: #201f3e;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  position: absolute;
  width: 6em;
  opacity: 0.95;
  z-index: 1;
}

.context-menu__divider {
  padding-bottom: 0px;
  text-align: left;
  border-top-style: solid;
  border-top-width: 1px;
}

.context-menu__first {
  padding: 4px 10px 2px 4px;
}

.context-menu li {
  text-align: left;
  padding: 0px 10px 2px 4px;
  font-weight: 400;
  font-size: 14px;
}
